<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8e7f2456-483d-4a7c-9dab-b1bba5370117/resourceGroups/RKU/providers/Microsoft.Web/sites/EmployeeDbFirst</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://employeedbfirst.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3597a3be-29b9-454e-a757-c20638d9fcf0</ProjectGuid>
    <PublishUrl>https://employeedbfirst.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EmployeeDbFirst</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>